<div class="navbar navbar-inverse" role="banner">
    <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="https://www.aconvert.com/"> CR <i class="fa fa-refresh fa-spin"></i> EATE.COM
    </a>
    <ul class="nav navbar-nav">
        <li class="notification-dropdown">
            <a href="#" role="button">
                <i class="fa fa-th-large"></i>
            </a>
        </li>
        <li class="notification-dropdown dropdown">
            <a href="https://www.aconvert.com/cn/video/#" class="trigger dropdown-toggle">
                <i class="fa fa-language"></i>
                <b class="caret"></b>
            </a>
            <ul class="pop-dialog dropdown-menu">
                <li><a href="https://www.aconvert.com/video/">English</a></li>
                <li><a href="https://www.aconvert.com/jp/video/">日本語</a></li>
                <li><a href="https://www.aconvert.com/es/video/">Español</a></li>
                <li><a href="https://www.aconvert.com/fr/video/">Français</a></li>
                <li><a href="https://www.aconvert.com/de/video/">Deutsch</a></li>
                <li><a href="https://www.aconvert.com/ru/video/">Русский</a></li>
                <li><a href="https://www.aconvert.com/hi/video/">हिन्दी</a></li>
                <li class="active"><a href="https://www.aconvert.com/cn/video/">中文简体</a></li>
                <li><a href="https://www.aconvert.com/tw/video/">中文繁體</a></li>
            </ul>
        </li>
        <li class="notification-dropdown dropdown">
            <a href="https://www.aconvert.com/cn/video/#" class="trigger dropdown-toggle">
                <i class="fa fa-refresh"></i>
                <b class="caret"></b>
            </a>
            <div class="pop-dialog">
                <div class="pointer right">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <div class="body">
                    <form action="https://s2.aconvert.com/convert/convert-quick-win.php?lan=cn" method="post" enctype="multipart/form-data" id="qform">
                        <a href="https://www.aconvert.com/cn/video/#" class="close-icon"><i class="fa fa-close"></i></a>
                        <div class="notifications">
                            <h3>快速转换</h3>
                            <a href="https://www.aconvert.com/cn/video/#" class="item">
                                <i class="fa fa-sign-in"></i>无需进入目录，直接选择源文件和目标格式，然后点击“开始转换”按钮快速开始转换。
                            </a>
                            <a href="https://www.aconvert.com/cn/video/#" class="item">
                                <i class="fa fa-sign-in"></i><input name="qfile" type="file" id="qfile">
                            </a>
                            <a href="https://www.aconvert.com/cn/video/#" class="item">
                                <i class="fa fa-sign-in"></i>
                                <div class="ui-select">
                                    <select name="qformat" id="qformat">
                                        <optgroup label="文档格式" style="font-weight:bold;">文档格式</optgroup><option value="pdf" selected="">PDF</option><option value="doc">DOC</option><option value="docx">DOCX</option><option value="xls">XLS</option><option value="xlsx">XLSX</option><option value="ppt">PPT</option><option value="pptx">PPTX</option><option value="html">HTML</option><option value="txt">TXT</option>
                                        <optgroup label="视频格式" style="font-weight:bold;">视频格式</optgroup><option value="mp4">MP4</option><option value="avi">AVI</option><option value="mpg">MPG</option><option value="mkv">MKV</option><option value="wmv">WMV</option><option value="m2ts">M2TS</option><option value="webm">WEBM</option><option value="flv">FLV</option>
                                        <optgroup label="音频格式" style="font-weight:bold;">音频格式</optgroup><option value="mp3">MP3</option><option value="wav">WAV</option><option value="wma">WMA</option><option value="ogg">OGG</option><option value="aac">AAC</option><option value="opus">OPUS</option><option value="flac">FLAC</option><option value="m4a">M4A</option>
                                        <optgroup label="图像格式" style="font-weight:bold;">图像格式</optgroup><option value="jpg">JPG</option><option value="png">PNG</option><option value="tiff">TIFF</option><option value="gif">GIF</option><option value="bmp">BMP</option><option value="ps">PS</option><option value="webp">WEBP</option><option value="svg">SVG</option><option value="ico">ICO</option>
                                    </select>
                                </div>
                            </a>
                            <div class="footer">
                                <input type="submit" class="btn-glow primary" value="开始转换">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>
