<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <a href="#">
                <i class="fa fa-file-image-o"></i>
                <span>视频管理</span>
            </a>
        </li>
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="https://www.aconvert.com/cn/video/">
                <i class="fa fa-file-video-o"></i>
                <span>视频预处理</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-file-audio-o"></i>
                <span>视频分析</span>
            </a>
        </li>

    </ul>
</div>
