<div id="sidebar-nav">
    <ul id="dashboard-menu">
{volist name="ucateRes" id="vo" key="k"}

        <li {if condition="$ucateids['cate_id'] eq $vo['cate_id']"}class="active"{/if}>
            {if condition="$k%3 eq 0"}
            <a href="{:url('Uanalyst/video')}">
                <i class="fa fa-file-image-o"></i>
                {elseif condition="$k%3 eq 1"}
                <a href="{:url('Umanage/video')}">
                    <i class="fa fa-file-video-o"></i>
                    {elseif condition="$k%3 eq 2"}
                    <a href="{:url('Uchange/video')}">
                        <i class="fa fa-file-audio-o"></i>
                        {/if}
                        <span>{$vo.cate_name}</span>
                    </a>
        </li>
{/volist}

    </ul>
</div>
