<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CREATE 前台/登录</title>
  <link rel="stylesheet" href="__home__/assets/css/amazeui.css" />
  <link rel="stylesheet" href="__home__/assets/css/other.min.css" />
</head>
<body class="login-container">
  <div class="login-box">
    <div class="logo-img">
      <img src="__home__/assets/images/logo2_03.gif" alt="" />
    </div>
    <form action="" class="am-form" method="post" data-am-validator>
      <div class="am-form-group">
        <label for="doc-vld-name-2"><i class="am-icon-user"></i></label>
        <input type="text" name="user_name" id="doc-vld-name-2" minlength="3" placeholder="输入用户名（至少 3 个字符）" required/>
      </div>

      <div class="am-form-group">
        <label for="doc-vld-pwd-2"><i class="am-icon-eye-slash"></i></label>
        <input type="password" name="user_password"  placeholder="密码" id="doc-vld-pwd-2" size="35" class="admin_input_style" />
      </div>

      <div class="am-form-group">
        <label for="doc-vld-code-2"><i class="am-icon-key"></i></label>
        <input type="text" name="code" placeholder="验证码" id="doc-vld-code-2" size="35" class="admin_input_style" style="width: 150px"/>
        <img src="{:captcha_src()}" alt="captcha" onclick="this.src=this.src+'?'+Math.random()" style="cursor: pointer;width: 125px;"/>
      </div>


      <input type="submit" value="登录"class="am-btn am-btn-secondary"/>
    </form>
  </div>
</body>
</html>
