<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CREATE 前台/动态详情</title>
    <link rel="stylesheet" href="__home__/assets/css/amazeui.css" />
    <link rel="stylesheet" href="__home__/assets/css/common.min.css" />
    <link rel="stylesheet" href="__home__/assets/css/news.min.css" />

</head>
<body>
<div class="layout">
    <!--===========layout-header================-->
    {include file="Common/header"}
    <!--mobile header start-->
    {include file="Common/mobileheader"}
    <!--===========layout-container================-->
    <div class="layout-container">
        <div class="page-header">
            <div class="am-container">
                <h1 class="page-header-title">行业动态</h1>
            </div>
        </div>

        <div class="breadcrumb-box">
            <div class="am-container">
                <ol class="am-breadcrumb">
                    <li><a href="../index.html">首页</a></li>
                    <li class="am-active">行业动态</li>
                    <li class="am-active">详情</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="section news-section">
        <div class="container">
            <!--news-section left start-->
            <div class="am-u-md-9">
                <div class="article">
                    <header class="article--header">
                        <h2 class="article--title"><a href="__CONTROLLER__/odNewsContent/id/{$odnc.id}" rel="">{$odnc.title}</a></h2>
                        <ul class="article--meta">
                            <li class="article--meta_item"><i class="am-icon-calendar"></i>{$odnc.addtime|date="Y-m-d",###}</li>
                            <li class="article--meta_item"><i class="am-icon-commenting-o"></i>33评论</li>
                        </ul>
                    </header>
                    <div class="article--content">
                        <?php echo htmlspecialchars_decode($odnc['med_content']);?>
                    </div>
                </div>
                {include file="Common/comments"}
            </div>
            <!--news-section left end-->

            <!--news-section right start-->
            {include file="Common/right"}
            <!--news-section right end-->
        </div>
    </div>
</div>


<div class="section" style="margin-top:0px;background-image: url('__home__/assets/images/pattern-light.png');">
    <div class="container">
        <!--index-container start-->
        <div class="index-container">
            <div class="am-g">
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-phone"></i>
                        <strong class="contact_card--title">Contact Us</strong>
                        <p class="contact_card--text">Feel free to call us on <br> <strong>0 (855) 233-5385</strong> <br> Monday - Friday, 8am - 7pm</p>
                        <button type="button" class="am-btn am-btn-secondary">Order a Call Back</button>
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-envelope-o"></i>
                        <strong class="contact_card--title">Our Email</strong>
                        <p class="contact_card--text">Drop us a line anytime at <br> <strong><a href="mailto:info@financed.com">info@financed.com</a>,</strong> <br> and we’ll get back soon.</p>
                        <button type="button" class="am-btn am-btn-secondary">Start Writing</button>
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-map-marker"></i>
                        <strong class="contact_card--title">Our Address</strong>
                        <p class="contact_card--text">Come visit us at <br> <strong>Stock Building, New York,</strong> <br> NY 93459</p>
                        <button type="button" class="am-btn am-btn-secondary">See the Map</button>
                    </div>
                </div>
            </div>
        </div>
        <!--index-container end-->
    </div>
</div>

<!--===========layout-container================-->
{include file="Common/bottom"}

<script src="__home__/assets/js/jquery-2.1.0.js" charset="utf-8"></script>
<script src="__home__/assets/js/amazeui.js" charset="utf-8"></script>
</body>

</html>
