<div class="layout-footer">
    <div class="footer">
        <div style="background-color:#383d61" class="footer--bg"></div>
        <div class="footer--inner">
            <div class="container">
                <div class="footer_main">
                    <div class="am-g">
                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">关于我们</strong>
                                <div class="footer_about">
                                    <p class="footer_about--text">
                                        科瑞特(CREAT) 是视频分析实验结果演示一站式服务平台，由Juliette在北京建立.
                                    </p>
                                    <p class="footer_about--text">
                                        成功将目标检测算法应用于数个视频，包括普通监控视频和卫星视频。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">产品与服务</strong>
                                <ul class="footer_navigation">
                                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">实验结果展示平台</a></li>
                                    <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Xcloud 网站跨屏云</a></li>
                                    <li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Amaze UI 前端开发框架</a></li>
                                    <li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Amaze UI 前端开发框架</a></li>
                                    <li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Amaze UI 前端开发框架</a></li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">文档中心</strong>
                                <ul class="footer_navigation">
                                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">企业移动信息化白皮书</a></li>
                                    <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a></li>
                                    <li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a></li>
                                    <li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a></li>
                                    <li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a></li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">联系详情</strong>
                                <ul class="footer_contact_info">
                                    <li class="footer_contact_info--item"><i class="am-icon-phone"></i><span>服务专线：400 069 0309</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-envelope-o"></i><span>jxysddyl@126.com</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-map-marker"></i><span>北京市海淀区上园村3号</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-clock-o"></i><span>Monday - Friday, 9am - 6 pm; </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
