

<div class="layout-header am-hide-sm-only">
    <!--topbar start-->
    <div class="topbar">
        <div class="container">
            <div class="am-g">
                <div class="am-u-md-3">
                    <div class="topbar-left">
                        <i class="am-icon-globe"></i>
                        <div class="am-dropdown" data-am-dropdown>
                            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>&nbspCREATE&nbsp<span class="am-icon-caret-down"></span></button>
                            <ul class="am-dropdown-content">
                                {volist name="cateRes" id="vo"}
                                <li>
                                    {if condition="$vo['pid'] eq 0"}
                                    <a
                                            {if condition="$vo['id'] eq 1"}href="{:url('Index/index')}"
                                            {elseif condition="$vo['id'] eq 2"}href="#"
                                            {elseif condition="$vo['id'] eq 3"}href="#"
                                            {elseif condition="$vo['id'] eq 4"}href="#"
                                            {/if}>
                                    {$vo.cate_name}
                                    </a>
                                    {else/}
                                    <!--submenu start-->

                                    <ul>
                                        <li>
                                            <a
                                                    {if condition="$vo['id'] eq 5"}href="{:url('Media/odNews')}"
                                                    {elseif condition="$vo['id'] eq 6"}href="{:url('Media/crNews')}"
                                                    {/if}>
                                            {$vo.cate_name}
                                            </a>
                                        </li>
                                    </ul>
                                    {/if}
                                </li>
                                <li class="am-divider"></li>
                                {/volist}
                                <!--<li><a href="#">产品介绍</a></li>
                                <li class="am-divider"></li>
                                <li><a href="#">帮助中心</a></li>
                                <li class="am-divider"></li>
                                <li><a href="#">媒体中心</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-9">
                    <div class="topbar-right am-text-right am-fr">
                        Follow us
                        <i class="am-icon-facebook"></i>
                        <i class="am-icon-twitter"></i>
                        <i class="am-icon-google-plus"></i>
                        <i class="am-icon-pinterest"></i>
                        <i class="am-icon-instagram"></i>
                        <i class="am-icon-linkedin"></i>
                        <i class="am-icon-youtube-play"></i>
                        <i class="am-icon-rss"></i>
                        <a href="{:url('Login/login')}">登录</a>
                        <a href="{:url('Register/register')}">注册</a>
                        <a href="#">探索</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--topbar end-->


    <div class="header-box" data-am-sticky>
        <!--header start-->
        <div class="container">
            <div class="header">
                <div class="am-g">
                    <div class="am-u-lg-2 am-u-sm-12">
                        <div class="logo">
                            <a href=""><img src="__home__/assets/images/logo.png" alt="" width="80px"/></a>
                        </div>
                    </div>
                    <div class="am-u-md-10">
                        <div class="header-right am-fr">
                            <div class="header-contact">
                                <div class="header_contacts--item">
                                    <div class="contact_mini">
                                        <i style="color:#7c6aa6" class="contact-icon am-icon-phone"></i>
                                        <strong>0 (855) 233-5385</strong>
                                        <span>周一~周五, 8:00 - 20:00</span>
                                    </div>
                                </div>
                                <div class="header_contacts--item">
                                    <div class="contact_mini">
                                        <i style="color:#7c6aa6" class="contact-icon am-icon-envelope-o"></i>
                                        <strong>jxysddyl@126.com</strong>
                                        <span>随时欢迎您的来信！</span>
                                    </div>
                                </div>
                                <div class="header_contacts--item">
                                    <div class="contact_mini">
                                        <i style="color:#7c6aa6" class="contact-icon am-icon-map-marker"></i>
                                        <strong>北京交通大学,</strong>
                                        <span>北京市海淀区上园村3号</span>
                                    </div>
                                </div>
                            </div>
                            <a href="html/contact.html" class="contact-btn">
                                <button type="button" class="am-btn am-btn-secondary am-radius">联系我们</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header end-->


        <!--nav start-->
        <div class="nav-contain">
            <div class="nav-inner">
                <ul class="am-nav am-nav-pills am-nav-justify">
                    {volist name="cateRes" id="vo"}
                    {if condition="$vo['pid'] eq 0"}
                    <li class="">
                        <a href="./index.html">{$vo.cate_name}</a>

                        {if condition="in_array($vo['id'],$catepid)"}

                        <ul class="sub-menu">
                            {volist name="ccRR" id="vol"}
                            <!--<li class="menu-item"><a href="html/product1.html">网站动态</a></li>
                            <li class="menu-item"><a href="html/product1.html">2</a></li>
                            <li class="menu-item"><a href="html/product1.html">3</a></li>-->
                            {if condition="$vo['id']==$vol['pid']"}
                            <li class="menu-item"><a href="html/product1.html">{$vol.cate_name}</a></li>
                            {/if}
                            {/volist}
                        </ul>
                        {/if}


                    </li>
                    {/if}
                    {/volist}
                    <!--<li>
                        <a href="html/about.html">产品介绍</a>
                        &lt;!&ndash; sub-menu start&ndash;&gt;
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="html/product1.html">产品展示1</a></li>
                            <li class="menu-item"><a href="html/product2.html">产品展示2</a></li>
                            <li class="menu-item"><a href="html/product3.html">产品展示3</a></li>
                        </ul>
                        &lt;!&ndash; sub-menu end&ndash;&gt;
                    </li>
                    <li><a href="#">帮助中心</a></li>
                    <li>
                        <a href="html/news.html">媒体中心</a>
                        &lt;!&ndash; sub-menu start&ndash;&gt;
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="html/news-content.html">公司动态</a></li>
                            <li class="menu-item"><a href="html/404-dark.html">行业动态</a></li>
                            <li class="menu-item"><a href="html/404-light.html">精彩专题</a></li>
                        </ul>
                        &lt;!&ndash; sub-menu end&ndash;&gt;
                    </li>-->

                </ul>
            </div>
        </div>
        <!--nav end-->
    </div>
</div>
