<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CREATE WELCOME</title>
  <link rel="stylesheet" href="__home__/assets/css/amazeui.css" />
  <link rel="stylesheet" href="__home__/assets/css/common.min.css" />
  <link rel="stylesheet" href="__home__/assets/css/index.min.css" />
  <link rel="stylesheet" type="text/css" href="__home__/assets/css/font.css">

</head>
<body>
  <div class="layout">
    <!--===========layout-header================-->
    {include file="Common/header"}
    <!--mobile header start-->
    {include file="Common/mobileheader"}
    <!--===========layout-container================-->
      <div class="layout-container">
          <div class="index-page">
              <div data-am-widget="tabs" class="am-tabs am-tabs-default">
                  <!--轮播图片-->
                  <div class="am-tabs-bd">
                      {volist name="pdRes" id="pdc"}
                      <div data-tab-panel-0 class="am-tab-panel">

                          <div class="index-banner">
                              <!--图片-->
                              <div class="pic" style="position: relative;height: 100%">
                                  <img src="__uploads__/{$pdc.pd_pic}" width="100%" height="100%" ><!--width="1226px" height="460px"-->
                              </div>
                              
                              <div class="index-mask" style="position: absolute;z-index:2;left:30px;top:0;">

                                  <div class="container">

                                      <div class="am-g">

                                          <div class="am-u-md-10 am-u-sm-centered">
                                              <h1 class="slide_simple--title">{$pdc.title}</h1>
                                              <p class="slide_simple--text am-text-left">
                                                  {$pdc.pd_content}
                                              </p>
                                              <div class="slide_simple--buttons">
                                                  <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {/volist}
                  </div>
                  <!--轮播导航-->
                  <ul class="am-tabs-nav am-cf index-tab">
                      {volist name="pdRes" id="pdc"}
                      <li class="a">
                          <a href="[data-tab-panel-0] am-g">
                              <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                  <i class="am-icon-cog"></i>
                              </div>
                              <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                  <strong class="promo_slider_nav--item_title">{$pdc.title}</strong>
                                  <p class="promo_slider_nav--item_description">{$pdc.pd_desc}</p>
                              </div>
                          </a>
                      </li>
                      {/volist}
                  </ul>
              </div>

          </div>
      </div>
      <!--===========next start================-->
    <div class="section">
      <div class="container">
        <div class="section--header">
					<h2 class="section--title">功能一览表</h2>
					<p class="section--description">
						基本功能
						<br>为实验的每一步保驾护航。
					</p>
				</div>
      </div>
    </div>
  </div>

  <!--promo_detailed start-->
  <div class="promo_detailed">

      <div class="promo_detailed-container" >
          <div class="container">
              <div class="am-g">
                  <div class="am-u-md-6">
                      <ul class="promo_detailed--list">
                          <li class="promo_detailed--list_item">
                <span class="promo_detailed--list_item_icon">
                  <i class="am-icon-diamond"></i>
                </span>
                              <dl>
                                  <dt>多层次的用户管理功能</dt>
                                  <dd>
                                      支持用户的添加和导入，与AD可以进行紧密的整合，实时同步最新的用户信息，从而方便对用户进行管理。
                                  </dd>
                              </dl>
                          </li>
                          <li class="promo_detailed--list_item">
                <span class="promo_detailed--list_item_icon">
                  <i class="am-icon-dollar" style="margin-left: 15px;"></i>
                </span>
                              <dl>
                                  <dt>丰富的日志报表系统</dt>
                                  <dd>
                                      提供实时监控平台，日志和报告系统，帮助管理员对系统的整体情况有全面的了解。
                                  </dd>
                              </dl>
                          </li>
                          <li class="promo_detailed--list_item">
                <span class="promo_detailed--list_item_icon">
                  <i class="am-icon-bank" style="margin-left: 10px;"></i>
                </span>
                              <dl>
                                  <dt>丰富的应用程序管理</dt>
                                  <dd>
                                      支持在线应用、适配应用、本地应用等多种应用类型。使用户可以最便捷的获取企业的各种应用。
                                  </dd>
                              </dl>
                          </li>
                      </ul>
                  </div>

                  <div class="am-u-md-6">
                      <div class="promo_detailed--cta">
                          <div class="promo_detailed--cta_wrap">
                              <div class="promo_detailed--cta_text">
                                  提供设备的远程锁定，擦除等功能。在设备出现遗失的情况下可以最大程度的保护企业的信息不被泄露。
                              </div>
                              <div class="promo_detailed--cta_footer">
                                  <button type="button" class="am-btn am-btn-danger">MORE&nbsp;&nbsp;>></button>
                              </div>
                          </div>
                          <div class="promo_detailed-img am-show-sm-only" style="background-image: url('assets/images/index/promo_detailed_bg.jpg');"></div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div class="promo_detailed-img am-hide-sm-only" style="background-image: url('__home__/assets/images/index/promo_detailed_bg.jpg');"></div>
  </div>

  <!--promo_detailed end-->

  <div class="section" >
    <div class="container">
      <div class="section--header">
        <h2 class="section--title">产品价格</h2>
        <p class="section--description">
          全球领先HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立
          <br>获得了微软创投的扶持以及晨兴资本、IDG资本、天创资本等国际顶级风投机构的投资。
        </p>
      </div>

      <div class="pricing_compare">
				<ul class="pricing_compare--options">
					<li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-group"></i>Company Size</li>
					<li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-umbrella"></i>Insurance Coverage</li>
					<li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-life-ring"></i>Number of Consultations</li>
					<li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-street-view"></i>Phone Support</li>
					<li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-dollar"></i>Investments Protection</li>
				</ul>
				<div class="pricing_compare--plans">
					<div class="pricing_plan">
						<header class="pricing_plan--header">
							<h2 class="pricing_plan--title"><b>BASIC </b>PLAN</h2><strong class="pricing_plan--price">$69<small>/m</small></strong>
						</header>
						<ul class="pricing_plan--options">
							<li class="pricing_plan--option"><b>1-9 </b>people</li>
							<li class="pricing_plan--option"><b>12</b>months</li>
							<li class="pricing_plan--option"><b>10 </b>monthly</li>
							<li class="pricing_plan--option"><b>3 </b>weeks</li>
							<li class="pricing_plan--option"><b>10 </b>millions</li>
						</ul>
						<footer class="pricing_plan--footer">
							<button type="button" class="am-btn am-btn-secondary">choose</button>
						</footer>
					</div>
					<div class="pricing_plan popular">
						<header class="pricing_plan--header"><span class="pricing_plan--label popular">Popular</span>
							<h2 class="pricing_plan--title"><b>plus </b>PLAN</h2><strong class="pricing_plan--price">$99<small>/m</small></strong>
						</header>
						<ul class="pricing_plan--options">
							<li class="pricing_plan--option"><b>10-99 </b>people</li>
							<li class="pricing_plan--option"><b>24</b>months</li>
							<li class="pricing_plan--option"><b>15 </b>monthly</li>
							<li class="pricing_plan--option"><b>6 </b>weeks</li>
							<li class="pricing_plan--option"><b>30 </b>millions</li>
						</ul>
						<footer class="pricing_plan--footer">
							<button type="button" class="am-btn am-btn-danger">choose</button>
						</footer>
					</div>
					<div class="pricing_plan">
						<header class="pricing_plan--header">
							<h2 class="pricing_plan--title"><b>PRO </b>PLAN</h2><strong class="pricing_plan--price"><small>Custom</small></strong>
						</header>
						<ul class="pricing_plan--options">
							<li class="pricing_plan--option"><b>Unlimited </b>people</li>
							<li class="pricing_plan--option"><b>Unlimited </b>time</li>
							<li class="pricing_plan--option"><b>Unlimited </b>time</li>
							<li class="pricing_plan--option"><b>Unlimited </b>time</li>
							<li class="pricing_plan--option"><b>Unlimited </b>sum</li>
						</ul>
						<footer class="pricing_plan--footer">
							<button type="button" class="am-btn am-btn-secondary">choose</button>
						</footer>
					</div>
				</div>
			</div>

    </div>
  </div>



  <div class="section promo_banner-container">
    <!--index-container start-->
    <div class="promo_banner-box">
      <div class="container">
        <h2 class="promo_banner--title">点击一下，开始使用</h2>

        <footer class="promo_banner--footer">
					<button type="button" class="am-btn am-btn-secondary">产看演示>></button>
                    <button type="button" class="am-btn am-btn-secondary">立即体验>></button>

        </footer>
      </div>
    </div>
    <!--index-container end-->
  </div>



  <!--customer-logo start-->
    <div class="customer-logo">
      <div class="container">
        <div class="am-g">
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="__home__/assets/images/index/customer_logo_bjtu.png" alt=""/>
              <img class="am-active"  alt=""src="__home__/assets/images/index/customer_logo_bjtu_active.png" alt=""/>
            </a>
          </div>
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="__home__/assets/images/index/customer_logo_csu.png" alt="" />
              <img class="am-active" src="__home__/assets/images/index/customer_logo_csu_active.png" alt="" />
            </a>
          </div>F
        </div>
      </div>
    </div>
  <!--customer-logo end-->


  <div class="section" style="margin-top:0px;background-image: url('__home__/assets/images/pattern-light.png');">
    <div class="container">
      <!--index-container start-->
      <div class="index-container">
        <div class="am-g">
          <div class="am-u-md-4">
            <div class="contact_card">
							<i style="color:#59bcdb" class="contact_card--icon am-icon-phone"></i>
							<strong class="contact_card--title">Contact Us</strong>
							<p class="contact_card--text">Feel free to call us on <br> <strong>0 (855) 233-5385</strong> <br> Monday - Friday, 8am - 7pm</p>
              <button type="button" class="am-btn am-btn-secondary">Order a Call Back</button>
						</div>
          </div>
          <div class="am-u-md-4">
            <div class="contact_card">
							<i style="color:#59bcdb" class="contact_card--icon am-icon-envelope-o"></i>
							<strong class="contact_card--title">Our Email</strong>
							<p class="contact_card--text">Drop us a line anytime at <br> <strong><a href="mailto:info@financed.com">jxysddyl@126.com</a>,</strong> <br> and we’ll get back soon.</p>
              <button type="button" class="am-btn am-btn-secondary">Start Writing</button>
						</div>
          </div>
          <div class="am-u-md-4">
            <div class="contact_card">
							<i style="color:#59bcdb" class="contact_card--icon am-icon-map-marker"></i>
							<strong class="contact_card--title">Our Address</strong>
							<p class="contact_card--text">Come visit us at <br> <strong>Beijing Jiaotong University </strong> <br> Beijing 100044 P. R. China</p>
              <button type="button" class="am-btn am-btn-secondary">See the Map</button>
						</div>
          </div>
        </div>
      </div>
      <!--index-container end-->
    </div>
  </div>

  <!--===========layout-footer================-->
  {include file="Common/bottom"}

  <script src="__home__/assets/js/jquery-2.1.0.js" charset="utf-8"></script>
  <script src="__home__/assets/js/amazeui.js" charset="utf-8"></script>
  <script src="__home__/assets/js/common.js" charset="utf-8"></script>
</body>

</html>
